{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<section id="banner">
    <div class="banner_container">
        <h1>Bienvenue sur le site du musée du Cupcake</h1>
    </div>
</section>

<section id="display">
    <div class="container">
        <h2>Les dernières sucreries</h2>
        <div class="cards container">
        {% for cupcakes in cupcake %}
            <div class="card">
                <div class="card-img">
                    <img src="{{ asset('uploads/images/' ~ cupcakes.imageName) }}" alt="Cupcake">
                </div>
                <div class="card-title">
                    {{ cupcakes.name }}
                </div>
                <div class="card-content">
                    <p>{{ cupcakes.description }}</p>
                    <a href="{{path('detailscupcake',{'id' : cupcakes.id})}}" class="btn btn-primary">Découvrir ici</a>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>
</section>

<a href="{{path('addcupcake')}}">Addcupcake</a>
{% endblock %}
