<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    {% block header %}
        <header>
            <nav class="nav-desktop">
                <div class="nav-img">
                    <img src="{{ asset('img/CupcakeMuseumLogo.png')}}" alt="Logo">
                </div>
                <ul>
                    <li><a href="{{path('home')}}">Accueil</svg></a></li>
                    <li><a href="{{path('museum')}}">Musée du Cupcake</a></li>
                    {% if is_granted('ROLE_USER')%}
                    <li><a href="{{path('addcupcake')}}">Ajouter un Cupcake</a></li>
                    {% endif %}
                    <li><a href="{{path('contact')}}">Contact</a></li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{path('login')}}">Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{path('logout')}}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="burger"><span></span><span></span><span></span></div>
            <nav class="nav-mobile">
                <div class="nav-img">
                    <img src="{{ asset('img/CupcakeMuseumLogo.png')}}" alt="Logo">
                </div>
                <ul>
                    <li><a href="{{path('home')}}">Accueil</svg></a></li>
                    <li><a href="{{path('museum')}}">Musée du Cupcake</a></li>
                    {% if is_granted('ROLE_USER')%}
                    <li><a href="{{path('addcupcake')}}">Ajouter un Cupcake</a></li>
                    {% endif %}
                    <li><a href="{{path('contact')}}">Contact</a></li>
                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{path('login')}}">Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{path('logout')}}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock %}
        {% block main %}{% endblock %}
    </body>
    <footer>
        <nav class="nav-desktop">
                <ul>
                    <li><a href="{{path('home')}}">Accueil</svg></a></li>
                    <li><a href="{{path('museum')}}">Musée du Cupcake</a></li>
                    <li><a href="{{path('contact')}}">Contact</a></li>
                </ul>
                <div class="nav-img">
                    <img src="{{ asset('img/CupcakeMuseumLogo.png')}}" alt="Logo">
                </div>
            </nav>
    </footer>
</html>
